.navbar-root{
  height: 5%;
  position: fixed;
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 9999;
}

.navbar-left{

}

.navbar-right {

}

.navbar-btn {
  color: gray;
  text-decoration: none;
}